<!DOCTYPE html>
<html lang="en">
<head>
 
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
   <title>PDF plotter</title>
 
   <!--<script src="/home/radek/Downloads/root/root/etc/http/scripts/JSRootCore.js" type="text/javascript"></script>-->
   <!-- <script src="https://root.cern/js/5.3.1/scripts/JSRootCore.js" type="text/javascript"></script> -->

   <script src="https://root.cern/js/latest/scripts/JSRootCore.js" type="text/javascript"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
 
</head>
 
<body>
 

  <div style="position: relative;width:1200px;height:900px; margin:0 auto;border:0px solid black;">
    <script>

    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });



    function getPDFs() {
        return $.ajax({
    type: "GET",
    url:  "/pdfList",
    async: false
    }).responseText;
    }
    //console.log(getPDFs());
    result = getPDFs();
    result = result.replace(/'/g, '"');
    let pdfList  = JSON.parse(result);

    let w  = 500;
    let h1 = 350;
    let h2 = 250;
    let s = 10; //space
    
    let isChangeM = false, isChangeR = false;

    let scale = 1.5;
    w  *= scale;
    h1 *= scale;
    h2 *= scale;
    s  *= scale;
  document.write('<div id="ratioFrame" style="position: absolute;left:0;top:'+(h1-s)+'px; width: '+w+'px; height:'+h2+'px"></div>');
  document.write('<div id="pdfFrame" style="position: absolute;left:0;top:0; width: '+w+'px; height:'+h1+'px"></div>');
    </script>
 
   <script type='text/javascript'>
 

      var cnt = 0, drawing_ready = [true, true];
      var needRedraw = true;
      var ratioPainter = null;
      var mainPainter = null;
 
      function CreateLegendEntry(obj, lbl, opt = "l") {
         var entry = JSROOT.Create("TLegendEntry"); 
         entry.fObject = obj;
         entry.fLabel = lbl;
         entry.fOption = opt;
         return entry; 
      }


      function getXpoints(nPoints, xMin, xMax, islogx) {
          xMin = Number(xMin);
          xMax = Number(xMax);
          let xpts = [];
          // this is just generation of graph
          if(!islogx || xMin <= 0) {
              let xmin = Math.max(0, xMin - (xMax-xMin)*0.3);
              let xmax = Math.min(1, xMax + (xMax-xMin)*0.3);
              for (var i=0; i<nPoints; i++) {
                  let x = xmin  + i*(xmax-xmin)/nPoints;
                  //console.log(x);
                  xpts.push(x); 
              }
          }
          else {
              let Lxmin = Math.log(xMin) - (Math.log(xMax)-Math.log(xMin))*0.3;
              let Lxmax = Math.log(xMax) + (Math.log(xMax)-Math.log(xMin))*0.3;
              for (var i=0; i<nPoints; i++) {
                  let x = Lxmin  + i*(Lxmax-Lxmin)/nPoints;
                  xpts.push(Math.exp(x)); 
              }
          }
          return xpts;
      } 


       JSROOT.CreateTGraphErr = function(npoints, xpts, ypts, yErrL, yErrH) {
          var graph = JSROOT.extend(JSROOT.Create("TGraphAsymmErrors"), { fBits: 0x3000408, fName: "graph", fTitle: "title" });

          if (npoints>0) {
             graph.fMaxSize = graph.fNpoints = npoints;

             var usex = (typeof xpts == 'object') && (xpts.length === npoints);
             var usey = (typeof ypts == 'object') && (ypts.length === npoints);

             for (var i=0;i<npoints;++i) {
                graph.fX.push(usex ? xpts[i] : i/npoints);
                graph.fY.push(usey ? ypts[i] : i/npoints);

                graph.fEXlow.push(0);
                graph.fEXhigh.push(0);
                //let err = ypts[i] / 20;
                graph.fEYlow.push(yErrL[i]);
                graph.fEYhigh.push(yErrH[i]);

             }
          }

          return graph;
       }


      const npoints = 200;



      class PDF {
          constructor(pdfName, flav="gluon", type, varFix=10, scale=1) {
            this.pdfName = pdfName;
            this.errType = "errSigma";
            this.type    = type;
            this.flav    = flav;
            this.fixVal  = varFix;
            this.scale   = scale;
            this.graph   = null;
            this.graphRat= null;
          }
      }
    
     //Two pdfs as default
     var pdfArr = [];
     //pdfArr.push(new PDF("MRST2007lomod"));
     //pdfArr.push(new PDF("MRST2007lomod"));


    var win;
    [win, pdfArr] = decodeURL();



    $(function() {
        if(pdfArr[0] != undefined)
            $("#fixVal").attr("value", pdfArr[0].fixVal);
        else
            $("#fixVal").attr("value", '10');

        $('#qDiv').on('keyup change', 'input[id^="fixVal"]', function() { // code
            let str = $(this).val()
            str = str.replace(/[^0-9.e\-]/g,'');
            let strUsed = str[str.length-1] == 'e' ? str + '0' : str;
            let fMy =  Number(strUsed);
            if(isNaN(fMy)) fMy = 0;
            fMy=Math.max(0, fMy);

            if(pdfArr.length > 0  && pdfArr[0].type == "xFixed") {
               fMy = Math.min(1, fMy); 
            }

            for(let i = 0; i < pdfArr.length; ++i)
                pdfArr[i].fixVal = fMy;
            //let idCh = "#" + $(this).attr("id");
            //$('#qDiv').append('rad');
            //$('#fixVal')
            console.log('changint to '+ str);
            $("#fixVal").val(str);
            needRedraw = true;
        });
    });


     function getYrange(pdfArr, xmin, xmax) {
         let myMin = +Infinity;
         let myMax = -Infinity;
         for(let k = 0; k < pdfArr.length; ++k) {
             for(let i = 0; i < pdfArr[k].graph.fY.length; ++i)
                if(pdfArr[k].graph.fX[i] >= xmin && pdfArr[k].graph.fX[i] <= xmax) {
                        let val = pdfArr[k].graph.fY[i];
                        myMin = Math.min(myMin,  val);
                        myMax = Math.max(myMax,  val);
                }
          }
          return [myMin, myMax];
          //myMax = ypts[i] > myMax ? ypts[i] : myMax;
     }









    $(document).ready(function(){
            //$('select[id^="flavourBox_"]').change(function(){
            $('#pdfDiv').on('change', 'select[id^="flavourBox_"]', function() { // code

                    let idCh = "#" + $(this).attr("id");
                    let i = Number(idCh.split("_").pop()) - 1;
                    //console.log("Flavour changed " + i + " " + pdfArr.length);

                    let myValue = $(idCh).find(":selected").val();
                    pdfArr[i].flav = myValue;
                    needRedraw = true;

             });

            //$('select[id^="pdf_"]').change(function() {
            $('#pdfDiv').on('change', 'select[id^="pdfType_"]', function() { // code
                    let idCh = "#" + $(this).attr("id");
                    let i = Number(idCh.split("_").pop()) - 1;

                    let myValue = $(idCh).find(":selected").val();
                    pdfArr[i].pdfName = myValue;
                    needRedraw = true;
            });

            $('#pdfDiv').on('click', 'svg[id^="closePDF_"]', function() { // code
                    let idCh = "#" + $(this).attr("id");
                    let i = Number(idCh.split("_").pop()) - 1;

                    //let myValue = $(idCh).find(":selected").val();
                    pdfArr.splice(i, 1);
                    //pdfArr[i].pdfName = myValue;
                    needRedraw = true;
                    $("#pdf_"+(i+1)).remove();

                    for(let k = i+1; k <= pdfArr.length; ++k) {
                        //$("#pdfDiv").append(plot1(pdfArr.length+1));
                        modArr = ["pdf", "pdfType", "flavourBox", "closePDF"];
                        for(t of modArr)
                            $('#' + t + '_'+(k+1)).attr("id", t+'_'+k);
                    }
                    $('.js-example-basic-single').select2();


            });


    });


    function codeURL(mainFrame, ratioFrame)
    {
        if(mainFrame == null || ratioFrame == null)
            return;
        //console.log(mainFrame.root_pad());
        let isLogX = mainFrame.root_pad().fLogx;
        let isLogY = mainFrame.root_pad().fLogy;
        let xmin = mainFrame.root_pad().fUxmin;
        let xmax = mainFrame.root_pad().fUxmax;
        let ymin = mainFrame.root_pad().fUymin;
        let ymax = mainFrame.root_pad().fUymax;
        let rmin = ratioFrame.root_pad().fUymin;
        let rmax = ratioFrame.root_pad().fUymax;

        let legX1 = mainFrame.draw_object.fFunctions.arr[0].fX1NDC;
        let legX2 = mainFrame.draw_object.fFunctions.arr[0].fX2NDC;
        let legY1 = mainFrame.draw_object.fFunctions.arr[0].fY1NDC;
        let legY2 = mainFrame.draw_object.fFunctions.arr[0].fY2NDC;


        if(isLogX) {
            xmin = Math.pow(10, xmin);
            xmax = Math.pow(10, xmax);
        }
        if(isLogY) {
            ymin = Math.pow(10, ymin);
            ymax = Math.pow(10, ymax);
        }
        
        let s = 'pdfs=';
        for(let i = 0; i < pdfArr.length; ++i) {
            //console.log('type is '+i+' ' + pdfArr[i].type);
            if(pdfArr[i].type == "qFixed")
                s +=  pdfArr[i].pdfName +':'+ pdfArr[i].flav + ':q='+ pdfArr[i].fixVal +  (i != pdfArr.length-1 ? ',': '');
            else if(pdfArr[i].type == "xFixed")
                s +=  pdfArr[i].pdfName +':'+ pdfArr[i].flav + ':x='+ pdfArr[i].fixVal +  (i != pdfArr.length-1 ? ',': '');
        }

        s += '&';
        s += 'xl='+ xmin + '&xh='+xmax + '&yl='+ymin+'&yh='+ymax + '&rl='+rmin + '&rh='+rmax;
        s += '&';
        s += 'log='+isLogX+isLogY;
        s += '&';
        s += 'leg='+legX1+','+legX2+','+legY1+','+legY2;
        //console.log('I am inside codeURL '+s);
        window.history.pushState("object or string", "Title", "?" + s);
    }

    function decodeURL()
    {

        let url_string = window.location.href;
        let objPars = (new URL(url_string)).searchParams;

        let pdfArr = [];
        if(objPars.get('pdfs')) {
            let pdfStr = objPars.get('pdfs').split(',');

            for(p of pdfStr) {
                let pNow = {};
                let str = p.split(':');
                if(str[2][0] == 'q')
                    pdfArr.push(new PDF(str[0], str[1], 'qFixed', Number(str[2].substring(2))));
                else if(str[2][0] == 'x') {
                    pdfArr.push(new PDF(str[0], str[1], 'xFixed', Number(str[2].substring(2))));
                }
            }
        }
        else {
            pdfArr.push(new PDF("MRST2007lomod",  "gluon",  "qFixed"));
            pdfArr.push(new PDF("MRSTMCal", "gluon", "qFixed"));
        }




        let win = {};

        win.xl = 1e-5;
        win.xh = 1;

        if(pdfArr.length > 0 && pdfArr[0].type == "xFixed") {
            win.xl = 2;
            win.xh = 1000;
        }

        
        win.yl = undefined;
        win.yh = undefined;

        win.rl = 0;
        win.rh = 2;

        win.log  = '11';

        win.legX1 = 0.60;
        win.legX2 = 0.95;
        win.legY1 = 0.7;
        win.legY2 = 0.9;

        for(let key in win) {
            //console.log('Getting property'+key);
            if(objPars.get(key)) {
                //console.log('Setting property'+key);
                win[key] = objPars.get(key);
            }
        }

        win.xl = Number(win.xl);
        win.xh = Number(win.xh);
        
        win.yl = Number(win.yl);
        win.yh = Number(win.yh);

        win.rl = Number(win.rl);
        win.rh = Number(win.rh);

        win.logX = win.log[0] == '1' ? true : false;
        win.logY = win.log[1] == '1' ? true : false;


        if(objPars.get('leg')) {
            let legStr = objPars.get('leg').split(',');
            win.legX1 = Number(legStr[0]);
            win.legX2 = Number(legStr[1]);
            win.legY1 = Number(legStr[2]);
            win.legY2 = Number(legStr[3]);
        }


        //console.log(win);
        //console.log(pdfArr);

        return [win, pdfArr]; //return window and pdfArr
    }


      function mainPlotter(xpts, yptsArr)
      {
         console.log('RADEKcheck ' + yptsArr.length +' ' + pdfArr.length);
         for(let i = 0; i < pdfArr.length; ++i) {
            pdfArr[i].graph = JSROOT.CreateTGraphErr(xpts.length, xpts, yptsArr[i].map(x => x[0]), 
                  yptsArr[i].map(x => x[1]),
                  yptsArr[i].map(x => x[1])
            );
         }
         console.log('PUPUPPPPPPPPPPPPPPPPPPP '  + win.xl + ' ' + win.xh);

         var yptsRatArr = [];
         for(let j = 0; j < yptsArr.length; ++j) {
             let tempRat = [];
             for(let i = 0; i < xpts.length; ++i) {
                 let ref = yptsArr[0][i][0];
                 if(ref == 0) ref = 1;
                 let val = yptsArr[j][i][0];
                 let err = yptsArr[j][i][1];
                 if(val == 0 && ref == 0)
                    tempRat.push([1,0]);
                else if(val != 0 && ref == 0)
                    tempRat.push([0,0]);
                else
                    tempRat.push([val/ref, err/ref]);
            }
            yptsRatArr.push(tempRat);
         }
         for(let i = 0; i < pdfArr.length; ++i) {
            pdfArr[i].graphRat = JSROOT.CreateTGraphErr(xpts.length, xpts, yptsRatArr[i].map(x => x[0]), 
            yptsRatArr[i].map(x => x[1]), 
            yptsRatArr[i].map(x => x[1]) 
            );
         }

         let cols  = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
         let fills = [3001, 3006, 3004, 3010, 3021, 3022, 3005, 3007, 3003, 3003, 3003];

         let grArr = [];
         let grRatArr = [];
         for(let i = 0; i < 10; ++i) {

             if(i < pdfArr.length) {
                 pdfArr[i].graph.fName = pdfArr[i].pdfName +" ("+pdfArr[i].flav+")";
                 pdfArr[i].graph.fBits |= JSROOT.BIT(18);
                 pdfArr[i].graph.fLineColor = cols[i];
                 pdfArr[i].graph.fLineWidth = 2;
                 pdfArr[i].graph.fMarkerSize = 2;
                 pdfArr[i].graph.fFillColor = cols[i];
                 pdfArr[i].graph.fFillStyle = fills[i];

                 pdfArr[i].graphRat.fName = pdfArr[i].pdfName +" ("+pdfArr[i].flav+")";
                 pdfArr[i].graphRat.fLineColor = cols[i];
                 pdfArr[i].graphRat.fLineWidth = 2;
                 pdfArr[i].graphRat.fMarkerSize = 2;
                 pdfArr[i].graphRat.fFillColor = cols[i];
                 pdfArr[i].graphRat.fFillStyle = fills[i];

                 grArr.push(pdfArr[i].graph);
                 grRatArr.push(pdfArr[i].graphRat);

                if(mainPainter != null) {
                     mainPainter.painters[i].draw_object.fEYlow  = pdfArr[i].graph.fEYlow;  //hope
                     mainPainter.painters[i].draw_object.fEYhigh = pdfArr[i].graph.fEYhigh; //hope
                     mainPainter.draw_object.fGraphs.arr[i].fEYlow  = pdfArr[i].graph.fEYlow;
                     mainPainter.draw_object.fGraphs.arr[i].fEYhigh = pdfArr[i].graph.fEYhigh; //hope
                 }
                if(ratioPainter != null) {
                     ratioPainter.painters[i].draw_object.fEYlow  = pdfArr[i].graphRat.fEYlow;  //hope
                     ratioPainter.painters[i].draw_object.fEYhigh = pdfArr[i].graphRat.fEYhigh; //hope
                     ratioPainter.draw_object.fGraphs.arr[i].fEYlow  = pdfArr[i].graphRat.fEYlow;
                     ratioPainter.draw_object.fGraphs.arr[i].fEYhigh = pdfArr[i].graphRat.fEYhigh; //hope
                 }

             }
             else {
                grDummy = JSROOT.CreateTGraphErr(1, [0], [0],   [0],[0]);
                grDummy.fName = "";
                grDummy.fLineColor = cols[i];
                grDummy.fLineWidth = 2;
                grDummy.fMarkerSize = 2;
                grDummy.fFillColor = cols[i];
                grDummy.fFillStyle = fills[i];

                grDummyR = JSROOT.CreateTGraphErr(1, [0], [0],      [0],[0]);
                grDummyR.fName = "";
                grDummyR.fLineColor = cols[i];
                grDummyR.fLineWidth = 2;
                grDummyR.fMarkerSize = 2;
                grDummyR.fFillColor = cols[i];
                grDummyR.fFillStyle = fills[i];

                grArr.push(grDummy);
                grRatArr.push(grDummyR);

             }
         }

 
         let mgraph = JSROOT.CreateTMultiGraph(...grArr);
         mgraph.fTitle = "pdfPlotter";
 
         var h1 = JSROOT.CreateTH1(10);
         h1.fName = "axis_draw";
         h1.fTitle = mgraph.fTitle;

         h1.fXaxis.fXmin = 1e-8;
         h1.fXaxis.fXmax = 1;
         if(pdfArr.length>0 && pdfArr[0].type == "xFixed") {
             h1.fXaxis.fXmin = 1.0;
             h1.fXaxis.fXmax = 1.0e5;
             console.log('setting xFixed limits');
         }

         //h1.fXaxis.fTitle = "x";
         h1.fYaxis.fTitle = "xf(x)";

         let setFonts = function(hist, fontSize) {
             hist.fXaxis.fLabelFont = 43;
             hist.fXaxis.fLabelSize = fontSize;

             hist.fXaxis.fTitleFont = 43;
             hist.fXaxis.fTitleSize = fontSize;

             hist.fYaxis.fLabelFont = 43;
             hist.fYaxis.fLabelSize = fontSize;

             hist.fYaxis.fTitleFont = 43;
             hist.fYaxis.fTitleSize = fontSize;
         };

         setFonts(h1, 18);

         h1.fXaxis.fLabelColor = 1;
         h1.fXaxis.fLabelOffset = -99.10;
         //h1.fXaxis.fTitleSize = 0;


         
         h1.fXaxis.fTickLength = 0.03;
         h1.fYaxis.fTitleOffset = 1.2;
         h1.fYaxis.fLabelOffset = 0.015;



         //console.log((ypts));
         //let myMax = -1000;
        //console.log(myMax);

        /*
         let myMin = +Infinity;
         let myMax = -Infinity;
         for(let i = 0; i < pdfArr[0].graph.fY.length; ++i)
            if(pdfArr[0].graph.fX[i] >= xminNow && pdfArr[0].graph.fX[i] <= xmaxNow) {
                for(let j = 0; j < pdfArr.length; ++j) {
                    let val = pdfArr[j].graph.fY[i];
                    myMin = Math.min(myMin,  val);
                    myMax = Math.max(myMax,  val);
                }
            }
            //myMax = ypts[i] > myMax ? ypts[i] : myMax;
         //[myMin, myMax] = getYrange(pdfArr, xmin, xmax);
         */

         h1.fYaxis.fXmin = -1e2;
         h1.fYaxis.fXmax = 1e5;
         mgraph.fHistogram = h1;
 


         var mgraphRat = JSROOT.CreateTMultiGraph(...grRatArr);

         mgraphRat.fTitle = "";
 
         var h1Rat = JSROOT.CreateTH1(10);
         h1Rat.fName = "axis_draw";
         h1Rat.fTitle = mgraphRat.fTitle;

         h1Rat.fXaxis.fXmin =  h1.fXaxis.fXmin;
         h1Rat.fXaxis.fXmax =  h1.fXaxis.fXmax;

         console.log('ratio limits '+ h1Rat.fXaxis.fXmin + ' '+ h1Rat.fXaxis.fXmax);

         let selected = $('input[name="type"]:checked', '#typeChanger');
         if(selected.length != 0) {
            let typ = selected.val();
            h1Rat.fXaxis.fTitle = typ == "xFixed" ? "q [GeV]" : "x";
         }


         /*
         if(pdfArr[0].type == "qFixed")
             h1Rat.fXaxis.fTitle = "x";
         else if(pdfArr[0].type == "xFixed")
             h1Rat.fXaxis.fTitle = "q [GeV]";
         */

         h1Rat.fXaxis.fTitleOffset = 1.3;
         h1Rat.fYaxis.fTitle = "ratio";
         h1Rat.fYaxis.fTitleOffset = 0.9;
         h1Rat.fYaxis.fLabelOffset = 0.015;


         //h1Rat.fXaxis.fLabelFont = 43;
         //h1Rat.fXaxis.fLabelSize = fontSize;
         //h1Rat.fXaxis.fTitleFont = 43;
         //h1Rat.fXaxis.fTitleSize = fontSize;

         setFonts(h1Rat, 17);
         h1Rat.fYaxis.fNdivisions = 404;



         h1Rat.fYaxis.fXmin = 0;
         h1Rat.fYaxis.fXmax = 10;
         mgraphRat.fHistogram = h1Rat;



         let leg = JSROOT.Create("TLegend");
         leg.fName = "pdfLegend";
         //width = pdfArr.length * 0.06;
         //JSROOT.extend(leg, { fX1NDC: 0.55, fY1NDC:0.7, fX2NDC: 0.9, fY2NDC:0.85 });
         JSROOT.extend(leg, { fX1NDC: win.legX1, fY1NDC:win.legY1, fX2NDC: win.legX2, fY2NDC:win.legY2 });

         if(pdfArr[0] != undefined) {
             if(pdfArr[0].type == "qFixed")
                 leg.fPrimitives.Add(CreateLegendEntry(null, "q = "+pdfArr[0].fixVal+" GeV", "h"));
             else if(pdfArr[0].type == "xFixed")
                 leg.fPrimitives.Add(CreateLegendEntry(null, "x = "+pdfArr[0].fixVal+"", "h"));
         }
         for(let i = 0; i < pdfArr.length; ++i) {
             description = pdfArr[i].pdfName +" ("+pdfArr[i].flav+")";
             if(pdfArr[i].graph.fEYlow[100] != 0)
                 leg.fPrimitives.Add(CreateLegendEntry(pdfArr[i].graph, description, 'lf'));
             else
                 leg.fPrimitives.Add(CreateLegendEntry(pdfArr[i].graph, description, 'l'));
         }
            

         //if(typeof JSROOT.TPadPainter != 'undefined') 
             //console.log(JSROOT.TPadPainter.this);
 
         mgraph.fFunctions.Add(leg,"");

         //console.log(pdfArr[0].graph);
         //console.log(h1);


         // set fixed Y-range if required
         // mgraph.fMinimum = 0;
         // mgraph.fMaximum = 400;
         //console.log(JSON.stringify(JSROOT));

         drawing_ready = [false,false];
         
         //$("#pdfFrame").empty(); //Remove before drawing
         JSROOT.redraw('pdfFrame', mgraph, "l3", function(obj) {


             //mainPainter = obj;
             needRedraw = false;

            for(let i = 0; i < pdfArr.length; ++i) {
                obj.painters[i].draw_object.fName = pdfArr[i].graph.fName;
                //obj.painters[i].draw_object.
                obj.painters[i].draw_object.fEYlow  = pdfArr[i].graph.fEYlow;  //hope
                obj.painters[i].draw_object.fEYhigh = pdfArr[i].graph.fEYhigh; //hope

                obj.draw_object.fGraphs.arr[i].fEYlow  = pdfArr[i].graph.fEYlow;
                obj.draw_object.fGraphs.arr[i].fEYhigh = pdfArr[i].graph.fEYhigh; //hope
            }

            if(obj.painters.length != pdfArr.length) {
                //obj.painters[2] = new JSROOT.TGraphPainter(pdfArr[2].graph);
                //obj.DrawNextGraph(2, "", pdfArr[2].graph);
            }


            //console.log(obj);
            //console.log(obj.frame_painter());
            //console.log(obj.root_pad());
            //console.log(obj.firstpainter.scale_xmin+" "+obj.firstpainter.scale_xmax);

            // zooming handled in frame painter now
               //var fp =  obj.firstpainter;
               var fp =  obj.frame_painter();
               //console.log('fpBegin');
               //console.log(fp);
               //console.log(obj);
               //console.log(obj.frame_painter());
               //console.log(obj.root_pad());
               //console.log('fpEnd');
               //console.log(obj.firstpainter.Zoom);

    //console.log(obj);
    //console.save(obj, 'radekFile.txt');
    
//let textToSave = JSON.stringify(obj);
//console.log(textToSave);
//let hiddenElement = document.createElement('a');
//hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
//hiddenElement.target = '_blank';
//hiddenElement.download = 'myFile.txt';
//hiddenElement.click();




               // keep old function to be able invoke it again

               if(mainPainter == null) {
                   mainPainter = obj;
                   fp.OldDrawAxes = fp.DrawAxes;

                    obj.pad_painter().painters[14].PaveDrawFuncOld =   obj.pad_painter().painters[14].PaveDrawFunc;
                    obj.pad_painter().painters[14].PaveDrawFunc = function(w,h) {
                        codeURL(mainPainter, ratioPainter);
                        obj.pad_painter().painters[14].PaveDrawFuncOld(w,h);
                    };

                   fp.OldZoom = fp.Zoom;
                   // redefine zoom function of TH2 painter to make synchronous zooming of TH1 object
                   fp.Zoom = function(xmin,xmax,ymin,ymax,zmin,zmax) {

                     if(typeof xmin != 'undefined' ||  typeof xmax != 'undefined' ) {

                        if(ratioPainter != null && zmin != -1) {
                           ratioPainter.frame_painter().Zoom(xmin, xmax, undefined, undefined, -1);
                        }
                        needRedraw = true;
                     }

                      this.OldZoom(xmin,xmax,ymin,ymax,zmin,zmax);
                   }

                   obj.root_pad().fLogx = win.logX;
                   obj.root_pad().fLogy = win.logY;

                   fp.fY1NDC = 0.05;
                   fp.fY2NDC = 0.90;
                   fp.fX1NDC = 0.15;
                   fp.fX2NDC = 0.95;


                   //let xminR = 1e-5, xmaxR = 1;
                   //let xminR = win.xl, xmaxR = win.xh;
                   if(win.yl == undefined || win.yh == undefined || isNaN(win.yl) || isNaN(win.yh) ) {
                       [win.yl, win.yh] = getYrange(pdfArr, win.xl, win.xh);
                   }
                   fp.Zoom(win.xl, win.xh, win.yl, win.yh); //zoom


                   fp.DrawAxes = function(shrink) {
                      //needRedraw = true;

                      if(obj) {
                         codeURL(obj, ratioPainter);
                      }

                      if(ratioPainter != null) {
                         ratioPainter.root_pad().fUxmin =   obj.root_pad().fUxmin;
                         ratioPainter.root_pad().fUxmax =   obj.root_pad().fUxmax;
                        
                         if(ratioPainter.root_pad().fLogx  !=   obj.root_pad().fLogx)
                            needRedraw = true;

                         ratioPainter.root_pad().fLogx  =   obj.root_pad().fLogx;
                         //ratioPainter.frame_painter().DrawAxes();
                      }

                      this.OldDrawAxes(shrink);
                   };

                   //needRedraw = false;
               }

               if(isChangeM) {
                    console.log('Zooming main ' + win.xl + ' ' + win.xh);
                    fp.Zoom(win.xl, win.xh, undefined, undefined, -1);
                    obj.root_pad().fUxmin = Math.log10(win.xl);
                    obj.root_pad().fUxmax = Math.log10(win.xh);
                    isChangeM = false;
                }

               ++cnt;
               //console.log(obj.frame_painter());
               //console.log(obj.root_pad());
               drawing_ready[0] = true; 
         });



         //$("#ratioFrame").empty(); //Remove before drawing
         JSROOT.redraw('ratioFrame', mgraphRat , "l3", function(obj) {

            for(let i = 0; i < pdfArr.length; ++i)
                obj.painters[i].draw_object.fName = pdfArr[i].graph.fName;

            if(ratioPainter == undefined) {
                   obj.root_pad().fLogx = win.logX;
                   obj.root_pad().fLogy = false;

                   let fp =  obj.frame_painter();

                   fp.fY1NDC = 0.20;
                   fp.fY2NDC = 0.96;
                   fp.fX1NDC = 0.15;
                   fp.fX2NDC = 0.95;

                   //console.log('zooming '+ (typeof win.rl) + " " + (typeof win.rh));
                   fp.Zoom(win.xl, win.xh, win.rl, win.rh); //zoom


                   fp.OldZoom = fp.Zoom;
                   // redefine zoom function of TH2 painter to make synchronous zooming of TH1 object
                   fp.Zoom = function(xmin,xmax,ymin,ymax,zmin,zmax) {

                     //console.log('in zoom function');
                     if(typeof xmin != 'undefined' ||  typeof xmax != 'undefined' ) {
                        needRedraw = true;

                       if(mainPainter != null && zmin != -1) {
                           mainPainter.frame_painter().Zoom(xmin, xmax, undefined, undefined, -1);
                        }
                     }
                    //console.log('ymin='+ ymin + ' ymax=' + ymax);

                      this.OldZoom(xmin,xmax,ymin,ymax,zmin,zmax);
                   }


                   fp.OldDrawAxes = fp.DrawAxes;
                   fp.DrawAxes = function(shrink) {

                     //console.log('Redraw function');
                      if(obj) {
                          codeURL(mainPainter, obj);
                      }

                      if(mainPainter != null) {
                         mainPainter.root_pad().fUxmin =   obj.root_pad().fUxmin;
                         mainPainter.root_pad().fUxmax =   obj.root_pad().fUxmax;
                         //ratioPainter.frame_painter().DrawAxes();
                         if(mainPainter.root_pad().fLogx  !=   obj.root_pad().fLogx)
                              needRedraw = true;

                         mainPainter.root_pad().fLogx  =   obj.root_pad().fLogx;
                      }

                      this.OldDrawAxes(shrink);
                   };






            }

            ratioPainter = obj;

            if(isChangeR) {
                console.log('Zooming Rat ' + win.xl + ' ' + win.xh);
                //obj.frame_painter().Zoom(win.xl, win.xh); //zoom
                obj.frame_painter().Zoom(win.xl, win.xh, undefined, undefined, -1);

                isChangeR = false;

            }


            drawing_ready[1] = true;

         });

         //let myObj = {};
         //myObj.object = h1Rat;
         //JSROOT.MakeSVG(myObj , function(arg) {console.log('beginSVG'); console.log(arg); console.log('endSVG');});

      }


      function updateGUI() {
         if (drawing_ready[0] == false || drawing_ready[1] == false) return;
         if (!needRedraw) return;
         
         drawing_ready = [false,false];

         let xminTemp = win.xl;
         let xmaxTemp = win.xh;
         let isLogTemp= win.logX;

         if(mainPainter) {
             xminTemp  = mainPainter.root_pad().fUxmin;
             xmaxTemp  = mainPainter.root_pad().fUxmax;
             isLogTemp = mainPainter.root_pad().fLogx;
             if(isLogTemp) {
                xminTemp = Math.pow(10, xminTemp);
                xmaxTemp = Math.pow(10, xmaxTemp);
             }
             win.xl = xminTemp; //RADEK add
             win.xh = xmaxTemp; //RADEK add
         }

         let xpts =  getXpoints(npoints, xminTemp, xmaxTemp, isLogTemp);
         //console.log("Info " + npoints + " " + xminTemp + " " + xmaxTemp + " " +isLogTemp);
         //console.log(xpts);

         let xpointsStr = JSON.stringify(xpts);


        let ajaxG = function(myPDF, type, err, fl, fixVal) {
            //console.log('radek ' + type);
            let s = (type == "xFixed") ? "x" : "q";
            return $.ajax({
        url:  "/pdf/"+err+"/"+myPDF+"/"+fl+"/"+s+"/"+ fixVal.toFixed(5) + "/"+xpointsStr });
        }


        let funs = []
        for(let i = 0; i < pdfArr.length; ++i) {
            funs.push(ajaxG(pdfArr[i].pdfName, pdfArr[i].type, pdfArr[i].errType, pdfArr[i].flav, pdfArr[i].fixVal) );
        }
        console.log("Updating GUI -- start : " + funs.length + ' ' + pdfArr.length);

//[ajaxG(pdfArr[0].pdfName,pdfArr[0].flav), ajaxG(pdfArr[1].pdfName, pdfArr[1].flav)];
        if(pdfArr.length >= 1) {
            $.when(...funs).done(function(...resArr){
                    //console.log('results');

                    let vals = [];
                    if(funs.length > 1) {
                        for(r of resArr) {
                            r[0] = r[0].replace(/inf/g, '0.0');
                            vals.push(JSON.parse(r[0]));
                        }
                    }
                    else {
                        vals.push(JSON.parse(resArr[0]));
                    }
                    //console.log('results3');
                    //console.log('pepa1');
                    //console.log(vals);
                    //console.log('pepa2');
                    console.log('before ' + funs.length +' ' + pdfArr.length);
                    if(funs.length != pdfArr.length) {
                        needRedraw    = true;
                        drawing_ready = true;
                        return;
                    }


                    mainPlotter(xpts, vals);
            });
        }
        else {
            mainPlotter(xpts, [xpts]);
        }

        console.log("Updating GUI -- end");

         /*
         console.log('BEGIN ajax');
         $.ajax({url: "/pdf/cental/MRST2007lomod/21/q/10.0/"+xpointsStr, success: function(result){
                let vals = JSON.parse(result);
                mainPlotter(xpts, vals);


         }});
         console.log('END ajax');
         */
      }
 
      updateGUI();

      /*
      $(document).ready(function(){
        // we call the function
          updateGUI();
          setInterval(updateGUI, 100);
      });
      */


 
      setInterval(updateGUI, 100);
 

    /*
    $.when(ajax1()).done(function(a1){
            // the code here will be executed when all four ajax requests resolve.
            // a1, a2, a3 and a4 are lists of length 3 containing the response text,
            // status, and jqXHR object for each of the four ajax calls respectively.

                $("#div1").text(a1);
                console.log("Blabal start");
                console.log(JSON.parse(a1));
                console.log("Blabal end");

            });

function ajax1() {
    return $.ajax({
url:  "/pdf/cental/MRST2007lomod/gluon/q/10.0/[0.01,0.08]" });
}

    $(document).ready(function(){
        $("button").click(function(){
            $.ajax({url: "/pdf/central/MRST2007lomod/21/q/10.0/[0.01,0.08]", success: function(result){
                $("#div1").html(result);
            }});
        });
    });
    */

    //Print the pdf selectors
    //let pdfList = ["MRST2007lomod", "MRSTMCal", "MRST2004qed_proton",  "NNPDF31_lo_as_0118", "NNPDF31_lo_as_0130", "NNPDF31_nlo_as_0118", "NNPDF31_nnlo_as_0118",
                  //"H1PDF2017", "HERAPDF20_LO_EIG",  "HERAPDF20_NLO_EIG",  "HERAPDF20_NNLO_EIG",  "HERAPDF20_Jets_NLO_EIG" ];


    let flavList = [
       "gluon",
       "down-val",
       "up-val",
       "down",
       "up",
       "strange",
       "charm",
       "bottom",
       "top",
       "anti-down",
       "anti-up",
       "anti-strange",
       "anti-charm",
       "anti-bottom",
       "anti-top",
    ];

    function plot1(id) {
        selStr = '<div id="pdf_'+id+'" style="height:50px">';
        selStr +='<select class="js-example-basic-single" style="width:300px" id="pdfType_'+id+'" name="pdf'+id+'" >';

        let pdfNow = "";
        let flNow = "";
        if(id <= pdfArr.length) {
            pdfNow = pdfArr[id-1].pdfName;
            flNow = pdfArr[id-1].flav;
        }

        for(let pdf of pdfList) {
            if(pdf == pdfNow)
                selStr += '<option selected>'+pdf+'</option>';
            else
                selStr += '<option>'+pdf+'</option>';
        }
        selStr += '</select>';

        selStr += '<select id="flavourBox_'+id+'" name="flavour'+id+'" >';
        for (fl of flavList) {
            if(fl == flNow)
                selStr += '<option selected>'+fl+'</option>';
            else
                selStr += '<option>'+fl+'</option>';
        }
        selStr += '</select>';

        if(id >= 1) {
            //selStr += '<span id="closePDF_'+id+'">x</span>';
            selStr += ' '+ delButton(id);
        }
        selStr += '</div>';
        return selStr;
    };


    /*
    console.log('begin');
    $.ajax({url: "/pdfList", success: function(result){
            result = result.replace(/'/g, '"');
            console.log(result);
            pdfList = JSON.parse(result);
            }});
    console.log('end');
    */

    document.write('<div style="float:right;width:450px;height:500px"><p>');
    document.write('<div id="qDiv" style="height:120px">');

    let qCh='', xCh='', lCh='';
    if(pdfArr[0].type == "qFixed")
        qCh = "checked";
    else if(pdfArr[0].type == "xFixed")
        xCh = "checked";

    document.write('<div style="display: block;float:left;width=160px"  id="typeChanger">');
    document.write('<input type="radio" name="type" value="qFixed" '+qCh+'> q fixed <br>');
    document.write('<input type="radio" name="type" value="xFixed" '+xCh+'> x fixed </div> ');

    document.write('<div style="display:block;float:left"> q = <input type="text" name="fixVal" id="fixVal" style="width:60px"> GeV</div></div>');

    document.write('<div id="pdfDiv">');
    for(let i = 1; i <= pdfArr.length; ++i)
        document.write(plot1(i));
    document.write('</div>');
    document.write('<button id="addPDF">add</button>');
    document.write("</p></div>");







    $(document).ready(function(){

        //$('input[type=radio][name=type]').change(function() {
        $('#typeChanger').on('change', 'input[type=radio][name=type]', function(){
            console.log('ahoj Holka');
            let selected = $('input[name="type"]:checked', '#typeChanger');
            if(selected.length != 0) {
                let typ = selected.val();

                let fixVal = (typ == "xFixed") ? 0.01 : 10;

                for(let i = 0; i < pdfArr.length; ++i) {
                    pdfArr[i].type   = typ;
                    pdfArr[i].fixVal = fixVal;
                }
                
                if(typ == "xFixed") {
                    mainPainter.root_pad().fUxmin = 2.0;
                    mainPainter.root_pad().fUxmax = 1000.0;
                }
                else if(typ == "qFixed") {
                    mainPainter.root_pad().fUxmin = 1.0e-5;
                    mainPainter.root_pad().fUxmax = 1.0;
                }
                win.xl = mainPainter.root_pad().fUxmin;
                win.xh = mainPainter.root_pad().fUxmax;

                if(mainPainter.root_pad().fLogx) {
                    mainPainter.root_pad().fUxmin = Math.log10(mainPainter.root_pad().fUxmin);
                    mainPainter.root_pad().fUxmax = Math.log10(mainPainter.root_pad().fUxmax);
                }

                ratioPainter.root_pad().fUxmin = mainPainter.root_pad.fUxmin;
                ratioPainter.root_pad().fUxmax = mainPainter.root_pad.fUxmax;


                codeURL(mainPainter, ratioPainter);

               // do stuff here

               console.log('changing fix value marketa ' + fixVal);
               //$("#fixVal").attr("value", fixVal);
               $("#fixVal").val(fixVal);
               console.log('changed to marketa '+ $("#fixVal").val() );

               needRedraw = true;
               isChangeM = true;
               isChangeR = true;
            }
        });

        $("#addPDF").click(function(){

            let fixVal, pdfNow, Type;
            if(pdfArr.length > 0) {
                fixVal   = pdfArr[pdfArr.length-1].fixVal;
                pdfNow   = pdfArr[pdfArr.length-1].pdfName;
                Type     = pdfArr[pdfArr.length-1].type;
            }
            else {
                pdfNow   = "MRST2007lomod";

                let selected = $('input[name="type"]:checked', '#typeChanger');
                if(selected.length != 0)
                    Type = selected.val();
                else
                    Type = "qFixed";
                fixVal = Number($("#fixVal").val());
                if(isNaN(fixVal)) fixVal = 0;
            }

            console.log('Adding pdf '+ Type + ' '+ fixVal);

            pdfArr.push(new PDF(pdfNow, "gluon", Type, fixVal ));

            $("#pdfDiv").append(plot1(pdfArr.length));

            needRedraw = true;
            
            if(pdfArr.length > 6) {
               $("#addPDF").hide(); 
            }
            $('.js-example-basic-single').select2();

        });
    });
















    function delButton(ID) {
return '<svg enable-background="new 0 0 32 32" height="16px" id="closePDF_'+ID+'" version="1.1" viewBox="0 0 32 32" width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M20.377,16.519l6.567-6.566c0.962-0.963,0.962-2.539,0-3.502l-0.876-0.875c-0.963-0.964-2.539-0.964-3.501,0  L16,12.142L9.433,5.575c-0.962-0.963-2.538-0.963-3.501,0L5.056,6.45c-0.962,0.963-0.962,2.539,0,3.502l6.566,6.566l-6.566,6.567  c-0.962,0.963-0.962,2.538,0,3.501l0.876,0.876c0.963,0.963,2.539,0.963,3.501,0L16,20.896l6.567,6.566  c0.962,0.963,2.538,0.963,3.501,0l0.876-0.876c0.962-0.963,0.962-2.538,0-3.501L20.377,16.519z" fill="#515151"/></svg>'
    }







    </script>


    </div>


</body>
</html>
